.left-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*CSS for left container bar*/

.left-container-bar{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-icon{
    flex: 1;
    text-align: right;
    margin-right: 5px;
}

.search-input{
    flex: 4;
}

i{}

.search-input input{
    border: none;
    background-color: #7DC9E7;
    padding: 8px;
    font-size: 20px;
}

/*CSS for left container data*/
.left-container-data{
    flex: 12;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
}

/*CSS for temperature and extra data*/
.left-container-temperature-data{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-container-temperature-img{
    flex: 2;
}

.left-container-temperature-img img{
    width: 200px;
    height: 200px;
}

.left-container-temperature-value{
    flex: 1;
    font-size: 70px;
}

.left-container-temperature-value sup{
    position: relative;
    font-size: 40px;
}


.left-container-day-time{
    flex: 1;
    font-weight: 500;
    font-size: 20px;
}

.left-container-day-time span{
    color: #ffffff;
}

.dividing-line{
    height: 2px;
    width: 100%;
    background-color: #7DC9E7;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*CSS etra data*/
.left-container-extra-data{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-container-summary{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: large;
}

.left-container-summary-img{
    margin-right: 8px;
}

.left-container-rain-data{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.left-container-rain-data-img{
    margin-right: 8px;
}

.left-container-location{
    flex: 3;
    text-align: center;

}

.left-container-location-img{
    margin-top: 20px;
    margin-bottom: 40px;
}

.left-container-location-img img{
    width: 300px;
    height: 100px;
    border-radius: 20px;
}

.left-container-location-name{
    margin-top: -60px;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
}
